*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.log
.idea
_ReSharper*
*.csproj
*.sln
*.userprefs
media/
.vs
bin/
obj/
packages/
AssetStoreTools*

src/example/GameDevWare.Charon.Unity*/Assembly*
src/example/GameDevWare.Charon.Unity*/Library/
src/example/GameDevWare.Charon.Unity*/Temp/
src/example/GameDevWare.Charon.Unity*/ProjectSettings/
src/example/GameDevWare.Charon.Unity*/UserSettings/
src/example/GameDevWare.Charon.Unity*/Assets/Plugins*