*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.log
_ReSharper*
*.csproj
*.sln
*.userprefs

.vs
bin/
obj/
packages/

GameDevWare.Charon.Unity/Assembly*
GameDevWare.Charon.Unity/Library/
GameDevWare.Charon.Unity/Temp/
GameDevWare.Charon.Unity/Assets/StreamingAssets/
GameDevWare.Charon.Unity/Assets/Bundles/
GameDevWare.Charon.Unity/ProjectSettings/
GameDevWare.Charon.Unity/Assets/Editor/Unity.Charon/Settings
GameDevWare.Charon.Unity/Assets/Editor/AssetStoreTools
GameDevWare.Charon.Unity/Assets/Plugins

Examples/RpgGameExample/Assembly*
Examples/RpgGameExample/Library/
Examples/RpgGameExample/Temp/
Examples/RpgGameExample/Assets/StreamingAssets/
Examples/RpgGameExample/Assets/Bundles/
Examples/RpgGameExample/ProjectSettings/
Examples/RpgGameExample/Assets/Editor/Unity.Charon/Settings
Examples/RpgGameExample/Assets/Editor/AssetStoreTools
Examples/RpgGameExample/Assets/Plugins