*.exp
*.ipch
*.metagen
*.ncb
*.nupkg
*.obj
*.opensdf
*.pdb
*.ReSharper
*.sdf
*.suo
*.swp
*.user
*.log
_ReSharper*
*.csproj
*.sln
*.userprefs
media/
.vs
bin/
obj/
packages/
AssetStoreTools*

example/GameDevWare.Charon.Unity*/Assembly*
example/GameDevWare.Charon.Unity*/Library/
example/GameDevWare.Charon.Unity*/Temp/
example/GameDevWare.Charon.Unity*/ProjectSettings/
example/GameDevWare.Charon.Unity*/UserSettings/
example//GameDevWare.Charon.Unity*/Assets/Plugins*
example/RpgGame/Assembly*
example/RpgGame/Library/
example/RpgGame/Temp/
example/RpgGame/ProjectSettings/